<!-- Arama -->
<div class="card mb-4">
    <div class="card-header">Arama</div>
    <div class="card-body">
        <form asp-controller="Home" asp-action="Arama" method="get">
            <div class="input-group">  
                <input name="p" class="form-control" type="text" placeholder="Arama..."
                value='@(Context.Request.Query["p"])' />
                <button class="btn btn-primary" id="button-search" type="submit">Ara</button>
            </div>
        </form>
    </div>
</div>