<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="~/stil.css">
  <title>Mağaza</title>
</head>
<body>
  <h1>Mağaza</h1>
  <a href="/home/index">Ana Sayfa</a>
  <a href="/home/hakkimizda">Hakkımızda</a>
  <a href="/urun/index">Ürünler</a>
  <a href="/urun/detay">Detay</a>
  <br><br>
  @RenderBody()
</body>
</html>