@model List<Urun>

@foreach (var item in Model)
{
    <div class="card mb-4">
        <img class="card-img-top" src="@item.ResimAdi.Goster()" alt="..." />
        <div class="card-body">
            <h2 class="card-title">@item.UrunAdi</h2>
            <p class="card-text small">@item.Fiyat.ParaBirimi() TL</p>
            <a class="btn btn-primary" asp-controller="Urun" asp-action="Detay" asp-route-id="@item.Id">Detay</a>
        </div>
    </div>
}
