@model KayitViewModel

<div class="container my-4">
    <h1>Kayıt</h1>
    <form asp-action="Kayit">
        <div class="mb-3">
            <label asp-for="AdSoyad"></label>
            <input asp-for="AdSoyad" class="form-control">
            <span asp-validation-for="AdSoyad" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="KullaniciAdi"></label>
            <input asp-for="KullaniciAdi" class="form-control">
            <span asp-validation-for="KullaniciAdi" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Sifre"></label>
            <input asp-for="Sifre" class="form-control">
            <span asp-validation-for="Sifre" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="SifreTekrar"></label>
            <input asp-for="SifreTekrar" class="form-control">
            <span asp-validation-for="SifreTekrar" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Eposta"></label>
            <input asp-for="Eposta" class="form-control">
            <span asp-validation-for="Eposta" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-primary">Tamam</button>
    </form>
</div>