@model LoginViewModel

<div class="container my-4">
    <h1>Login</h1>
    <div asp-validation-summary="All"></div>
    <form asp-action="Login">
        <div class="mb-3">
            <label asp-for="KullaniciAdi"></label>
            <input asp-for="KullaniciAdi" class="form-control">
            <span asp-validation-for="KullaniciAdi" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Sifre"></label>
            <input asp-for="Sifre" class="form-control">
            <span asp-validation-for="Sifre" class="text-danger"></span>
        </div>
        <input asp-for="ReturnUrl" type="hidden" />
        <button type="submit" class="btn btn-primary">Tamam</button>
    </form>
</div>