@model int

<!-- Slogan -->
<header class="py-2 bg-light border-bottom">
    <div class="container">
        <div class="text-center my-2">
            <h1 class="fw-bolder">@ViewBag.Yazi</h1>
            <p class="lead mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat, quos?</p>
            <p class="text-danger mt-2">@TempData["Hata"]</p>
        </div>
    </div>
</header>
<!-- Icerik -->
<div class="container mt-4">
    <div class="row mb-3">
        <!-- Ana Bolum -->
        <div class="col-lg-8">
            <!-- Vitrin -->
            <div id="toplam" class="d-none">@Model</div>
            <div class="my-1" id="vitrin"></div>
            <button id="listele" class="btn btn-outline-primary w-100 my-1" disabled>Daha Fazla Listele</button>
            <div id="spinner" class="card text-center my-1">
                <img id="spinner" src="~/image/spinner.gif" alt="" style="width:35px" class="mx-auto d-block">
            </div>
        </div>

        <!-- Yan Menu -->
        <div class="col-lg-4">

            <partial name="_Arama"></partial>

            @await Component.InvokeAsync("Kategoriler")

            <partial name="_Iletisim"></partial>

        </div>
    </div>
</div>



@section Duyuru {
    <li class="nav-item"><button type="button" class="btn btn-danger me-2">Büyük İndirim</button></li>
}

@functions {
    string AciklamaGoster(string aciklama)
    {
        if (aciklama == null)
        {
            return "";
        }
        else if (aciklama.Length > 50)
        {
            return aciklama.Substring(0, 50) + "...";
        }
        else
        {
            return aciklama;
        }
    }
}

@section Scriptler {

    <script type="text/javascript">
        function veri_goster() {
            var gosterilen = parseInt($('#vitrin > div').length);
            var toplam = parseInt($("#toplam").text());
            $.ajax({
                type: "get",
                url: '@Url.Action("Vitrin", "Home")',
                data: { gosterilen: gosterilen },
                dataType: "html",
                beforeSend: function () {
                    $("#listele").prop("disabled", true);
                    $("#spinner").show();
                },
                complete: function () {
                    $("#listele").prop("disabled", false);
                    $("#spinner").hide();
                },
                success: function (result) {
                    $('#vitrin').append(result);
                    gosterilen = parseInt($('#vitrin > div').length);
                    if (gosterilen == toplam) {
                        $("#listele").hide();
                    } else {
                        $("#listele").text(toplam + " kayıttan " + (gosterilen + 1) + " - " + ((gosterilen + 3) > toplam ? toplam : (gosterilen + 3)) + " arasını göster");
                    }
                }
            });
        }

        $(document).ready(function () {
            veri_goster();
            $('#listele').click(function () { veri_goster() });
        });

    </script>
}