@model List<Kategori>

<!-- Kategoriler -->
<div class="card mb-4">
    <div class="card-header">Kategoriler</div>
    <div class="card-body p-0">
        <div class="list-group-flush">
          @foreach (var item in Model)
          {
            <a class="list-group-item" asp-controller="Urun" asp-action="Index" asp-route-id="@item.Id">@item.KategoriAdi</a>
          }
        </div>
    </div>
</div>